[Unit]
Description=Monit gRPC Server

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/server.py
Restart=always
User=monit
WorkingDirectory=/usr/local/lib64/monit

[Install]
WantedBy=multi-user.target

